.container {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

}

.camera {
    position: relative;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 50%;
    z-index: 1;
    margin-left: 1%;
}

.gallery {
    height: calc(100vh - 80px);
    width: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 50px;
    position: relative;
    margin-top: 5%;
}
