

.camera {
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 50%;
    z-index: 1;
}

.gallery {
    height: 100%;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 50%;
    position: relative;
}
