.container {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

}

.camera {
    position: relative;
    left: 0;
    height: calc(100vh - 80px);
    width: 50%;
    z-index: 1;
    margin-left: 1%;
}

.gallery {
    height: calc(100vh - 80px);
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}


.container.animate {
    animation: myAnimation 1s ease-in-out;
}

@keyframes myAnimation {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}