body {
  margin: 0;
  padding: 0;

}

.mainBody {
  background-color: RGBA(0, 0, 0, 0.80);
  min-height: 80vh;

}




.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 10px;
}

